html {
        font-size: 100%;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    p {
        margin: 0;
        padding: 0;
        line-height: 1.3125rem;
    }

    body {
        margin: 2rem 20%;
        padding: 0;
        font-size: 16px;
        color: #242424;
        line-height: 1.5rem;
        font-family: "Roboto", sans-serif;        
    }

    a,
    a:visited,
    a:hover {
        text-decoration: underline;
        color: #2D9656;
    }

    p, ul {
        font-size: 14px;
    }

    .flex {
        display: flex;
    }

    .flex-jc-sb {
        justify-content: space-between;
    }

    .flex-ai-c {
        align-items: center;
    }

    .flex-jc-c {
        justify-content: center;
    }

    .header {        
        padding-bottom: 1.5rem;        
    }

    .main {
        padding: 1.5rem 2rem;
        border: 1px solid #E9E9E9;
        border-radius: 8px;
    }

    .line {
        border-bottom: 1px solid #E9E9E9;
        position: relative;
        margin: 0 -2rem;
    }

    .line-nm {
        margin: 0;
    }

    .message {
        margin: 2rem 0 0;
    }

    .message p {
        padding-bottom: 1rem;
    }

    ul {
        padding:0 0 1rem 1rem;        
        margin: 0;
        
    }

    .bold {
        font-weight: bold;
    }

    .pb {
        padding-bottom: 0 !important;
    }

    .mt-32 {
        margin-top: 2rem;
    }

    .mt-16 {
        margin-top: 1rem;
    }

    .mb-32 {
        margin-bottom: 2rem;
    }    

    .tag {
        font-size: 12px;
        padding: 0 !important;
    }

    .company-name {
        padding-top: 2rem;
    }

    .product {        
        background-color: #FEF9E8;
        border-radius: 8px;
    }

    .story {
        background-color: #EAF4EE;
    }

    .product .title {
        font-size: 1.25rem;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        padding: 0 0 1rem;
    }

    .copy {
        padding: 1.5rem 2rem;
    }

    .btn-primary {
        font-family: "Poppins", sans-serif;
        background-color: #2D9656;
        color: white;
        border: 0;
        border-radius: 4px;
        padding: 0.75rem 1.5rem;
        cursor: pointer;
    }

    .copyright {
        font-size: 0.75rem;
        padding: 1rem 0 0;
        color: #928F87;
    }

    .img-tree {
        width: 50%;
        height: auto;
        border-radius: 8px 0 0 8px;
    }    

    .social-media {
        gap: 2rem;
        margin: 2rem 0;
    }

    .ic-w-facebook {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M22 12C22 6.48 17.52 2 12 2C6.48 2 2 6.48 2 12C2 16.84 5.44 20.87 10 21.8V15H8V12H10V9.5C10 7.57 11.57 6 13.5 6H16V9H14C13.45 9 13 9.45 13 10V12H16V15H13V21.95C18.05 21.45 22 17.19 22 12Z' fill='%23505050'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.5rem;
        height: 1.5rem;        
    }

    .ic-w-facebook:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M22 12C22 6.48 17.52 2 12 2C6.48 2 2 6.48 2 12C2 16.84 5.44 20.87 10 21.8V15H8V12H10V9.5C10 7.57 11.57 6 13.5 6H16V9H14C13.45 9 13 9.45 13 10V12H16V15H13V21.95C18.05 21.45 22 17.19 22 12Z' fill='%232D9656'/%3E%3C/g%3E%3C/svg%3E%0A");
        transition: 0.2s ease-in-out;
    }

    .ic-w-twitter {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M22.4591 6C21.6891 6.35 20.8591 6.58 19.9991 6.69C20.8791 6.16 21.5591 5.32 21.8791 4.31C21.0491 4.81 20.1291 5.16 19.1591 5.36C18.3691 4.5 17.2591 4 15.9991 4C13.6491 4 11.7291 5.92 11.7291 8.29C11.7291 8.63 11.7691 8.96 11.8391 9.27C8.27906 9.09 5.10906 7.38 2.99906 4.79C2.62906 5.42 2.41906 6.16 2.41906 6.94C2.41906 8.43 3.16906 9.75 4.32906 10.5C3.61906 10.5 2.95906 10.3 2.37906 10V10.03C2.37906 12.11 3.85906 13.85 5.81906 14.24C5.18979 14.4122 4.52916 14.4362 3.88906 14.31C4.16067 15.1625 4.6926 15.9084 5.41008 16.4429C6.12756 16.9775 6.99451 17.2737 7.88906 17.29C6.37269 18.4904 4.49306 19.1393 2.55906 19.13C2.21906 19.13 1.87906 19.11 1.53906 19.07C3.43906 20.29 5.69906 21 8.11906 21C15.9991 21 20.3291 14.46 20.3291 8.79C20.3291 8.6 20.3291 8.42 20.3191 8.23C21.1591 7.63 21.8791 6.87 22.4591 6Z' fill='%23505050'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.5rem;
        height: 1.5rem;
    }


    .ic-w-twitter:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M22.4591 6C21.6891 6.35 20.8591 6.58 19.9991 6.69C20.8791 6.16 21.5591 5.32 21.8791 4.31C21.0491 4.81 20.1291 5.16 19.1591 5.36C18.3691 4.5 17.2591 4 15.9991 4C13.6491 4 11.7291 5.92 11.7291 8.29C11.7291 8.63 11.7691 8.96 11.8391 9.27C8.27906 9.09 5.10906 7.38 2.99906 4.79C2.62906 5.42 2.41906 6.16 2.41906 6.94C2.41906 8.43 3.16906 9.75 4.32906 10.5C3.61906 10.5 2.95906 10.3 2.37906 10V10.03C2.37906 12.11 3.85906 13.85 5.81906 14.24C5.18979 14.4122 4.52916 14.4362 3.88906 14.31C4.16067 15.1625 4.6926 15.9084 5.41008 16.4429C6.12756 16.9775 6.99451 17.2737 7.88906 17.29C6.37269 18.4904 4.49306 19.1393 2.55906 19.13C2.21906 19.13 1.87906 19.11 1.53906 19.07C3.43906 20.29 5.69906 21 8.11906 21C15.9991 21 20.3291 14.46 20.3291 8.79C20.3291 8.6 20.3291 8.42 20.3191 8.23C21.1591 7.63 21.8791 6.87 22.4591 6Z' fill='%232D9656'/%3E%3C/g%3E%3C/svg%3E%0A");
        transition: 0.2s ease-in-out;
    }

    .ic-w-instagram {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M7.8 2H16.2C19.4 2 22 4.6 22 7.8V16.2C22 17.7383 21.3889 19.2135 20.3012 20.3012C19.2135 21.3889 17.7383 22 16.2 22H7.8C4.6 22 2 19.4 2 16.2V7.8C2 6.26174 2.61107 4.78649 3.69878 3.69878C4.78649 2.61107 6.26174 2 7.8 2ZM7.6 4C6.64522 4 5.72955 4.37928 5.05442 5.05442C4.37928 5.72955 4 6.64522 4 7.6V16.4C4 18.39 5.61 20 7.6 20H16.4C17.3548 20 18.2705 19.6207 18.9456 18.9456C19.6207 18.2705 20 17.3548 20 16.4V7.6C20 5.61 18.39 4 16.4 4H7.6ZM17.25 5.5C17.5815 5.5 17.8995 5.6317 18.1339 5.86612C18.3683 6.10054 18.5 6.41848 18.5 6.75C18.5 7.08152 18.3683 7.39946 18.1339 7.63388C17.8995 7.8683 17.5815 8 17.25 8C16.9185 8 16.6005 7.8683 16.3661 7.63388C16.1317 7.39946 16 7.08152 16 6.75C16 6.41848 16.1317 6.10054 16.3661 5.86612C16.6005 5.6317 16.9185 5.5 17.25 5.5ZM12 7C13.3261 7 14.5979 7.52678 15.5355 8.46447C16.4732 9.40215 17 10.6739 17 12C17 13.3261 16.4732 14.5979 15.5355 15.5355C14.5979 16.4732 13.3261 17 12 17C10.6739 17 9.40215 16.4732 8.46447 15.5355C7.52678 14.5979 7 13.3261 7 12C7 10.6739 7.52678 9.40215 8.46447 8.46447C9.40215 7.52678 10.6739 7 12 7ZM12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9Z' fill='%23505050'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.5rem;
        height: 1.5rem;        
    }

    .ic-w-instagram:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M7.8 2H16.2C19.4 2 22 4.6 22 7.8V16.2C22 17.7383 21.3889 19.2135 20.3012 20.3012C19.2135 21.3889 17.7383 22 16.2 22H7.8C4.6 22 2 19.4 2 16.2V7.8C2 6.26174 2.61107 4.78649 3.69878 3.69878C4.78649 2.61107 6.26174 2 7.8 2ZM7.6 4C6.64522 4 5.72955 4.37928 5.05442 5.05442C4.37928 5.72955 4 6.64522 4 7.6V16.4C4 18.39 5.61 20 7.6 20H16.4C17.3548 20 18.2705 19.6207 18.9456 18.9456C19.6207 18.2705 20 17.3548 20 16.4V7.6C20 5.61 18.39 4 16.4 4H7.6ZM17.25 5.5C17.5815 5.5 17.8995 5.6317 18.1339 5.86612C18.3683 6.10054 18.5 6.41848 18.5 6.75C18.5 7.08152 18.3683 7.39946 18.1339 7.63388C17.8995 7.8683 17.5815 8 17.25 8C16.9185 8 16.6005 7.8683 16.3661 7.63388C16.1317 7.39946 16 7.08152 16 6.75C16 6.41848 16.1317 6.10054 16.3661 5.86612C16.6005 5.6317 16.9185 5.5 17.25 5.5ZM12 7C13.3261 7 14.5979 7.52678 15.5355 8.46447C16.4732 9.40215 17 10.6739 17 12C17 13.3261 16.4732 14.5979 15.5355 15.5355C14.5979 16.4732 13.3261 17 12 17C10.6739 17 9.40215 16.4732 8.46447 15.5355C7.52678 14.5979 7 13.3261 7 12C7 10.6739 7.52678 9.40215 8.46447 8.46447C9.40215 7.52678 10.6739 7 12 7ZM12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9Z' fill='%232D9656'/%3E%3C/g%3E%3C/svg%3E%0A");
        transition: 0.2s ease-in-out;
    }

    .ic-w-linkedin {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M19 3C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19ZM18.5 18.5V13.2C18.5 12.3354 18.1565 11.5062 17.5452 10.8948C16.9338 10.2835 16.1046 9.94 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17C14.6813 12.17 15.0374 12.3175 15.2999 12.5801C15.5625 12.8426 15.71 13.1987 15.71 13.57V18.5H18.5ZM6.88 8.56C7.32556 8.56 7.75288 8.383 8.06794 8.06794C8.383 7.75288 8.56 7.32556 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19C6.43178 5.19 6.00193 5.36805 5.68499 5.68499C5.36805 6.00193 5.19 6.43178 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56ZM8.27 18.5V10.13H5.5V18.5H8.27Z' fill='%23505050'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.5rem;
        height: 1.5rem;    
    }

    .ic-w-linkedin:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M19 3C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19ZM18.5 18.5V13.2C18.5 12.3354 18.1565 11.5062 17.5452 10.8948C16.9338 10.2835 16.1046 9.94 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17C14.6813 12.17 15.0374 12.3175 15.2999 12.5801C15.5625 12.8426 15.71 13.1987 15.71 13.57V18.5H18.5ZM6.88 8.56C7.32556 8.56 7.75288 8.383 8.06794 8.06794C8.383 7.75288 8.56 7.32556 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19C6.43178 5.19 6.00193 5.36805 5.68499 5.68499C5.36805 6.00193 5.19 6.43178 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56ZM8.27 18.5V10.13H5.5V18.5H8.27Z' fill='%232D9656'/%3E%3C/g%3E%3C/svg%3E%0A");
        transition: 0.2s ease-in-out;
    }

    .ic-w-mappoji {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.142423 11.3205C5.68266 10.9461 10.5111 15.1052 10.9609 20.6722C11.0075 21.249 11.0052 21.8184 10.9577 22.3766C5.41743 22.7511 0.588956 18.5919 0.139194 13.025C0.0926195 12.4482 0.0948371 11.8786 0.142423 11.3205Z' fill='%23505050'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.142423 11.3206C0.18903 11.8974 11.0052 21.8184 10.9577 22.3766C5.41743 22.7511 0.588956 18.592 0.139194 13.0251C0.0926195 12.4482 0.0948371 11.8787 0.142423 11.3206Z' fill='%23505050'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.756 11.3205C18.2158 10.9461 13.3873 15.1052 12.9375 20.6722C12.8909 21.249 12.8932 21.8184 12.9408 22.3766C18.481 22.7511 23.3095 18.5919 23.7592 13.025C23.8058 12.4482 23.8036 11.8786 23.756 11.3205Z' fill='%23505050'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.756 11.3206C23.7094 11.8974 12.8932 21.8184 12.9408 22.3766C18.481 22.7511 23.3095 18.592 23.7592 13.0251C23.8058 12.4482 23.8036 11.8787 23.756 11.3206Z' fill='%23505050'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.057 6.59227C17.057 9.4083 14.7805 11.6911 11.972 11.6911C9.16345 11.6911 6.88672 9.4083 6.88672 6.59227C6.88672 3.77625 9.16345 1.49341 11.972 1.49341C14.7805 1.49341 17.057 3.77625 17.057 6.59227Z' fill='%23505050'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.4rem;
        height: 1.4rem;    
    }

    .ic-w-mappoji:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.142423 11.3205C5.68266 10.9461 10.5111 15.1052 10.9609 20.6722C11.0075 21.249 11.0052 21.8184 10.9577 22.3766C5.41743 22.7511 0.588956 18.5919 0.139194 13.025C0.0926195 12.4482 0.0948371 11.8786 0.142423 11.3205Z' fill='%232D9656'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.142423 11.3206C0.18903 11.8974 11.0052 21.8184 10.9577 22.3766C5.41743 22.7511 0.588956 18.592 0.139194 13.0251C0.0926195 12.4482 0.0948371 11.8787 0.142423 11.3206Z' fill='%232D9656'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.756 11.3205C18.2158 10.9461 13.3873 15.1052 12.9375 20.6722C12.8909 21.249 12.8932 21.8184 12.9408 22.3766C18.481 22.7511 23.3095 18.5919 23.7592 13.025C23.8058 12.4482 23.8036 11.8786 23.756 11.3205Z' fill='%232D9656'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.756 11.3206C23.7094 11.8974 12.8932 21.8184 12.9408 22.3766C18.481 22.7511 23.3095 18.592 23.7592 13.0251C23.8058 12.4482 23.8036 11.8787 23.756 11.3206Z' fill='%232D9656'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.057 6.59227C17.057 9.4083 14.7805 11.6911 11.972 11.6911C9.16345 11.6911 6.88672 9.4083 6.88672 6.59227C6.88672 3.77625 9.16345 1.49341 11.972 1.49341C14.7805 1.49341 17.057 3.77625 17.057 6.59227Z' fill='%232D9656'/%3E%3C/g%3E%3C/svg%3E%0A");
        transition: 0.2s ease-in-out;
    }  
    
    .ic-logo-mappoji {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='167' height='34' viewBox='0 0 167 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M71.0785 4.44847V25.8794H65.8826V13.027L61.112 25.8794H56.9188L52.1178 12.9964V25.8794H46.9219V4.44847H53.0598L59.0458 19.2853L64.971 4.44847H71.0785Z' fill='%23242424'/%3E%3Cpath d='M73.1742 17.3315C73.1742 15.5812 73.4983 14.0446 74.1465 12.7217C74.815 11.3988 75.7165 10.3812 76.8509 9.66883C77.9853 8.9565 79.2514 8.60033 80.6491 8.60033C81.8443 8.60033 82.8875 8.84456 83.7788 9.33302C84.6904 9.82147 85.3893 10.4626 85.8754 11.2563V8.84456H91.0714V25.8794H85.8754V23.4677C85.369 24.2614 84.66 24.9025 83.7484 25.391C82.8571 25.8794 81.8139 26.1237 80.6187 26.1237C79.2412 26.1237 77.9853 25.7675 76.8509 25.0552C75.7165 24.3225 74.815 23.2947 74.1465 21.9718C73.4983 20.6285 73.1742 19.0818 73.1742 17.3315ZM85.8754 17.362C85.8754 16.0595 85.5108 15.0317 84.7816 14.2786C84.0726 13.5256 83.2015 13.1491 82.1684 13.1491C81.1353 13.1491 80.2541 13.5256 79.5248 14.2786C78.8158 15.0113 78.4613 16.0289 78.4613 17.3315C78.4613 18.634 78.8158 19.672 79.5248 20.4454C80.2541 21.1984 81.1353 21.5749 82.1684 21.5749C83.2015 21.5749 84.0726 21.1984 84.7816 20.4454C85.5108 19.6923 85.8754 18.6645 85.8754 17.362Z' fill='%23242424'/%3E%3Cpath d='M99.4187 11.2563C99.9251 10.4626 100.624 9.82147 101.515 9.33302C102.407 8.84456 103.45 8.60033 104.645 8.60033C106.043 8.60033 107.309 8.9565 108.443 9.66883C109.578 10.3812 110.469 11.3988 111.117 12.7217C111.786 14.0446 112.12 15.5812 112.12 17.3315C112.12 19.0818 111.786 20.6285 111.117 21.9718C110.469 23.2947 109.578 24.3225 108.443 25.0552C107.309 25.7675 106.043 26.1237 104.645 26.1237C103.47 26.1237 102.427 25.8794 101.515 25.391C100.624 24.9025 99.9251 24.2716 99.4187 23.4982V34H94.2227V8.84456H99.4187V11.2563ZM106.833 17.3315C106.833 16.0289 106.468 15.0113 105.739 14.2786C105.03 13.5256 104.149 13.1491 103.095 13.1491C102.062 13.1491 101.181 13.5256 100.452 14.2786C99.7428 15.0317 99.3883 16.0595 99.3883 17.362C99.3883 18.6645 99.7428 19.6923 100.452 20.4454C101.181 21.1984 102.062 21.5749 103.095 21.5749C104.128 21.5749 105.01 21.1984 105.739 20.4454C106.468 19.672 106.833 18.634 106.833 17.3315Z' fill='%23242424'/%3E%3Cpath d='M119.434 11.2563C119.941 10.4626 120.639 9.82147 121.531 9.33302C122.422 8.84456 123.465 8.60033 124.66 8.60033C126.058 8.60033 127.324 8.9565 128.459 9.66883C129.593 10.3812 130.484 11.3988 131.133 12.7217C131.801 14.0446 132.135 15.5812 132.135 17.3315C132.135 19.0818 131.801 20.6285 131.133 21.9718C130.484 23.2947 129.593 24.3225 128.459 25.0552C127.324 25.7675 126.058 26.1237 124.66 26.1237C123.486 26.1237 122.442 25.8794 121.531 25.391C120.639 24.9025 119.941 24.2716 119.434 23.4982V34H114.238V8.84456H119.434V11.2563ZM126.848 17.3315C126.848 16.0289 126.484 15.0113 125.754 14.2786C125.045 13.5256 124.164 13.1491 123.111 13.1491C122.078 13.1491 121.196 13.5256 120.467 14.2786C119.758 15.0317 119.404 16.0595 119.404 17.362C119.404 18.6645 119.758 19.6923 120.467 20.4454C121.196 21.1984 122.078 21.5749 123.111 21.5749C124.144 21.5749 125.025 21.1984 125.754 20.4454C126.484 19.672 126.848 18.634 126.848 17.3315Z' fill='%23242424'/%3E%3Cpath d='M141.972 26.1237C140.31 26.1237 138.811 25.7675 137.474 25.0552C136.158 24.3428 135.115 23.3252 134.345 22.0023C133.595 20.6794 133.22 19.1327 133.22 17.362C133.22 15.6117 133.605 14.0751 134.375 12.7522C135.145 11.409 136.198 10.3812 137.535 9.66883C138.872 8.9565 140.371 8.60033 142.032 8.60033C143.693 8.60033 145.192 8.9565 146.529 9.66883C147.866 10.3812 148.92 11.409 149.69 12.7522C150.459 14.0751 150.844 15.6117 150.844 17.362C150.844 19.1123 150.449 20.6591 149.659 22.0023C148.889 23.3252 147.826 24.3428 146.469 25.0552C145.132 25.7675 143.633 26.1237 141.972 26.1237ZM141.972 21.6055C142.964 21.6055 143.805 21.2391 144.494 20.5064C145.203 19.7738 145.557 18.7256 145.557 17.362C145.557 15.9984 145.213 14.9503 144.524 14.2176C143.855 13.4849 143.025 13.1185 142.032 13.1185C141.019 13.1185 140.179 13.4849 139.51 14.2176C138.842 14.9299 138.508 15.978 138.508 17.362C138.508 18.7256 138.832 19.7738 139.48 20.5064C140.148 21.2391 140.979 21.6055 141.972 21.6055Z' fill='%23242424'/%3E%3Cpath d='M155.576 7.07391C154.664 7.07391 153.915 6.80933 153.327 6.28017C152.76 5.73066 152.476 5.05903 152.476 4.2653C152.476 3.4512 152.76 2.77958 153.327 2.25042C153.915 1.7009 154.664 1.42615 155.576 1.42615C156.467 1.42615 157.196 1.7009 157.764 2.25042C158.351 2.77958 158.645 3.4512 158.645 4.2653C158.645 5.05903 158.351 5.73066 157.764 6.28017C157.196 6.80933 156.467 7.07391 155.576 7.07391ZM158.189 28.0775C158.189 30.1738 157.662 31.6798 156.609 32.5957C155.556 33.5319 154.087 34 152.203 34H150.167V29.5734H151.413C151.98 29.5734 152.385 29.4614 152.628 29.2376C152.871 29.0137 152.993 28.6474 152.993 28.1385V8.84456H158.189V28.0775Z' fill='%23242424'/%3E%3Cpath d='M163.93 7.07391C163.019 7.07391 162.269 6.80933 161.682 6.28017C161.114 5.73066 160.831 5.05903 160.831 4.2653C160.831 3.4512 161.114 2.77958 161.682 2.25042C162.269 1.7009 163.019 1.42615 163.93 1.42615C164.822 1.42615 165.551 1.7009 166.118 2.25042C166.705 2.77958 166.999 3.4512 166.999 4.2653C166.999 5.05903 166.705 5.73066 166.118 6.28017C165.551 6.80933 164.822 7.07391 163.93 7.07391ZM166.513 8.84456V25.8794H161.317V8.84456H166.513Z' fill='%23242424'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.511 7.4077C24.511 11.4989 21.2191 14.8154 17.1579 14.8154C13.0968 14.8154 9.80454 11.4989 9.80454 7.4077C9.80454 3.31654 13.0968 0 17.1579 0C21.2191 0 24.511 3.31654 24.511 7.4077ZM0.053436 14.2771C8.06473 13.7331 15.0468 19.7754 15.6972 27.8632C15.7646 28.7013 15.7613 29.5285 15.6925 30.3395C7.68121 30.8835 0.699134 24.841 0.0487673 16.7534C-0.0185803 15.9153 -0.0153737 15.0879 0.053436 14.2771ZM20.876 30.0563C28.9042 29.4011 34.9023 22.3674 34.3623 14.2969C33.5572 14.2275 32.7361 14.2243 31.9042 14.2922C23.8758 14.9473 17.8778 21.981 18.4178 30.0515C19.2227 30.1209 20.044 30.1242 20.876 30.0563Z' fill='%23196D3A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.511 7.4077C24.511 11.4989 21.2191 14.8154 17.1579 14.8154C13.0968 14.8154 9.80454 11.4989 9.80454 7.4077C9.80454 3.31654 13.0968 0 17.1579 0C21.2191 0 24.511 3.31654 24.511 7.4077ZM0.053436 14.2771C0.120831 15.1151 15.7613 29.5285 15.6925 30.3395C7.68121 30.8835 0.699134 24.841 0.0487673 16.7534C-0.0185803 15.9153 -0.0153737 15.0879 0.053436 14.2771ZM20.876 30.0563C28.9042 29.4011 34.9023 22.3674 34.3623 14.2969C33.5572 14.2275 35.1942 14.229 34.3623 14.2969L18.4178 30.0515C19.2227 30.1209 20.044 30.1242 20.876 30.0563Z' fill='%232D9656'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.5112 7.4077C24.5112 11.4989 21.2192 14.8154 17.1581 14.8154C13.0969 14.8154 9.80469 11.4989 9.80469 7.4077C9.80469 3.31654 13.0969 0 17.1581 0C21.2192 0 24.5112 3.31654 24.5112 7.4077Z' fill='%23FAC71F'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        width: 167px;
        height: 34px;
    }

    .description, .address, .unsubscribe {
        text-align: center;
        color: #7C7C7C;
    }
    
    @media screen and (max-width: 1024px) {
        body {
            margin: 2rem 1rem;
        }

        .main {
            padding: 1.5rem 1rem;
        }

        .logo {
            margin: 0 auto;
        }
        
        .browser {
            display: none;
        }

        .product {
            flex-direction: column;
            text-align: center;
        }

        .copy {
            order: 2;   
            padding: 1.5rem 1rem;         
        }

        .img-tree {
            width: auto;
            border-radius: 8px 8px 0 0;
        }

        .line {
            margin: 0 -1rem;
        }

        .line-nm {
            margin: 0 !important;
        }

        .message {
            margin: 1rem 0 0;
        }
    }
